.theme_btn {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: space-between;
    border: 3px solid rgb(125, 125, 125);
    background: #fff;
    width: 120px;
    height: 50px;
    margin: 20px 25px;
    border-radius: 50px;
    position: relative;
    /* position: absolute;
    right: 0; */
    overflow: hidden;
    box-shadow: -8px 5px 15px rgba(0,0,0,0.3),8px 5px 15px rgba(0,0,0,0.3);

}

.theme_btn:before {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background-color: #ffc400;
    top: 0;
    left: 0;
    background-image: url('../../assets/images/sun.png');
    background-size: contain;
    /* background-position: 100% 0; */
    background-repeat: no-repeat;
    z-index: 1; /* Ensure the pseudo-element is behind the switch */
}

.theme_btn:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background-color: black;
    top: 0;
    right: 0;
    background-image: url('../../assets/images/moon.png');
    background-size: contain;
    /* background-position: 100% 0; */
    background-repeat: no-repeat;
    z-index: 1; /* Ensure the pseudo-element is behind the switch */
}

.theme_btn input {
    appearance: none;   
}

.theme_btn .switch {
    /* box-shadow: inset -14px 0 14px rgba(77, 77, 77, 1),inset 0 -14px 14px rgba(77, 77, 77, 0.6), 0px 5px 15px rgba(0,0,0,0.3), 0px 5px 15px rgba(0,0,0,0.3); */
    position: relative;
    /* right: 0; */
    left: 0;
    z-index: 2; /* Ensure the switch appears on top of the pseudo-element */
    display: inline-block;
    width: 60%;
    height: 100%;
    background: #ffffff;
    /* background-color: black;
    background-color: #ffc400; */
    /* transform: translate(-100%,0); */
    /* border-radius: 50px 0 0 0; */
    /* display: none; */
    transition: background-color 0.2s ease-in-out, transform 0.4s ease-in-out;
}
