.canvas_conatiner{
    width: 50vw;
    height: 60vh;
    background: blue;
    position: relative;
  }

@media (orientation: portrait) {
    .canvas_conatiner {
        width: 95vw;
        height: 40vh;
    }
}